<ion-header>
  <ion-toolbar>
    <ion-title>
      Starwars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Personajes  
  </div>
  <ion-list>
  <table>
	<ion-item *ngFor="let personaje of elementos; let i = index">	
	<tr><th>
		<p>
			{{ personaje.name }}
		</p>
	</th><th>
		<p>
			&nbsp;&nbsp; Altura :{{ personaje.height }} &nbsp;&nbsp;
		</p>
	</th><th> 
		<p>
			&nbsp;&nbsp; Peso :{{ personaje.mass }} &nbsp;&nbsp;
		</p>	  
	</th><th> 
		<p>
			<ion-button (click)="abrir_pagina( i )">Abrir en nueva página</ion-button>
		</p>	  
	</th></tr>    	
    </ion-item>
  </table>	  	 
  </ion-list>  
</ion-content>
